# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @timothyis @unicodeveloper
/create-react-app/        @Timer
/go/                      @matheuss @timothyis @unicodeveloper
/html-minifier/           @leo @timothyis @unicodeveloper
/mdx-deck/                @timneutkens @timothyis @unicodeveloper
/nextjs/                  @timneutkens @timothyis @unicodeveloper
/nextjs-static/           @timneutkens @timothyis @unicodeveloper
/nextjs-news/             @timneutkens @timothyis @unicodeveloper
/puppeteer-screenshot/    @styfle @timothyis @unicodeveloper
/typescript/              @TejasQ @timothyis @unicodeveloper
/zola/                    @TejasQ @timothyis @unicodeveloper
